* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #e7e7de;
}

.container {
    width: calc(100% - 32px);
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: white;
    padding: 12px 0;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
}

.navbar-kanan,
.navbar-kiri {
    display: flex;
    align-items: center;
}

.hamburger-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: transparent;
    border: none;

    & span {
        display: block;
        width: 22px;
        height: 2px;
        background-color: #4A505C;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    right: 16px;
    width: 200px;
    padding: 10px;
    gap: 4px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    & a {
        display: block;
        text-decoration: none;
        color: black;
    }
}

.navbar-kiri img {
    height: 30px;
    width: auto;
    display: block;
}

.btn-login,
.btn-register {
    & button {
        cursor: pointer;
        margin: 0 5px;
        padding: 10px 20px;
        border-style: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

.btn-login {
    & button {
        background-color: #3ECF4C;
        color: white;
    }
}

.btn-register {
    & button {
        background-color: white;
        color: #3ECF4C;
        border: #3ECF4C solid 1px;
    }
}

.hero {
    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 82px 140px;
        margin: 64px auto;
        gap: 24px;
        min-height: 60vh;
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(asset/hero.jpg);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    & h1 {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    & p {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
    }
}

.btn-link button {
    cursor: pointer;
    color: white;
    border: none;
    background-color: #3ECF4C;
    padding: 10px 26px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tabs-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tabs-header p {
    color: #333333AD;
}

.course-tabs {
    display: flex;
    margin: 20px auto;
    gap: 32px;
}

.course-tabs a {
    text-decoration: none;
    color: black;
    border-bottom: 5px solid transparent;
    padding-bottom: 4px;
    transition: border-color 0.3s ease, color 0.3s ease;
    -webkit-transition: border-color 0.3s ease, color 0.3s ease;
    -moz-transition: border-color 0.3s ease, color 0.3s ease;
    -ms-transition: border-color 0.3s ease, color 0.3s ease;
    -o-transition: border-color 0.3s ease, color 0.3s ease;
}

.course-tabs a:hover {
    color: #F64920;
    border-color: #F64920;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.card-grid {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.card-course {
    display: block;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.course-image {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-course h3 {
    font-weight: 600;
    font-size: 18px;
}

.card-course p {
    font-weight: 400;
    font-size: 16px;
}

.mentor-course {
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.mentor-course img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.course-footer {
    display: flex;
    justify-content: space-between;
}

.course-footer h3 {
    color: #3ECF4C;
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 64px auto;
    border-radius: 10px;
    height: 60vh;
    color: white;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(asset/newsletter.jpg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.newsletter-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 600px;
    margin-bottom: 20px;
}

.newsletter-info h3 {
    font-weight: 600;
    font-size: 32px;
    font-style: bold;
}

.newsletter-info p {
    font-weight: 400;
    font-size: 16px;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 500px) ;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.subscribe input {
    padding: 10px;
    display: flex;
    flex: 1;
    border: none;
    outline: none;
}

.subscribe button {
    cursor: pointer;
    color: white;
    background-color: #FFBD3A;
    border: none;
    padding: 10px 26px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer {
    padding: 60px 120px;
    background-color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-kiri {
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 352px;
    gap: 16px;
}

.footer-kiri img {
    width: 50%;
    height: auto
}

.footer-kiri h4 {
    font-weight: 700;
    font-size: 18px;
}

.footer-kiri p {
    color: #222325;
    font-weight: 400;
    font-size: 16px;

}

.footer-kanan {
    display: flex;
    gap: 48px;

}

.anakan-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.anakan-footer a {
    color: #333333AD;
    text-decoration: none;
}

.anakan-footer a:hover {
    color: black;
}

.copyright {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #3A35411F;
}

.copyright-text {
    margin-top: 20px;
    color: #3A3541AD;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: black;
    font-size: 30px;
}

/* CSS halaman login HTML */
.navbar-kanan a {
    color: #3ECF4C;
    font-size: 30px;
}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding: 40px 0;
}

.login-register .container {
    max-width: 600px;

}

.container .login {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login {
    display: flex;
    gap: 10px;
}

.header-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    text-align: center;
}

.header-login h3 {
    font-weight: 600;
    font-size: 32px;

}

.header-login p {
    font-weight: 400;
    font-size: 16px;
    color: #333333AD;
}


.email {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.email input {
    display: flex;
    flex: 1;
    width: 100%;
    outline: none;
    padding: 10px 24px;
    border: 0.5px solid #F1F1F1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.password input {
    display: flex;
    flex: 1;
    outline: none;
    border: 0.5px solid #f1f1f1;
    padding: 10px 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.forgot-password {
    text-align: end;
    text-decoration: none;
    color: #4A505C;
}

.forgot-password:hover {
    color: black;
}

.btn-login-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-login-page button {
    cursor: pointer;
    background-color: #3ECF4C;
    color: white;
    border: none;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-login-page a {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 24px;
    color: #3ECF4C;
    background-color: #E2FCD9CC;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.divider span {
    font-size: 16px;
    padding: 0 20px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border: 0.5px solid #F1F1F1;
}

.btn-google {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 10px 24px;
    gap: 5px;
    color: black;
    border: 0.5px solid #F1F1F1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* CSS halaman register */
.nama-lengkap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nama-lengkap input {
    display: flex;
    flex: 1;
    padding: 10px 24px;
    outline: none;
    border: 0.5px solid #F1F1F1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.password-confirm {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.password-confirm input {
    display: flex;
    flex: 1;
    padding: 10px 24px;
    outline: none;
    border: 0.5px solid #F1F1F1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.phone-number {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.country-code {
    display: flex;
    gap: 12px;

}

.country-code select {
    display: flex;
    padding: 10px 24px;
    outline: none;
    border: 0.5px solid #f1f1f1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.country-code input {
    display: flex;
    flex: 1;
    outline: none;
    border: 0.5px solid #f1f1f1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* tampilan mobile dimari */
@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 32px);
    }

    /* navbar section */
    .hamburger-mobile {
        display: flex;
    }

    .hamburger-menu.active {
        display: flex;
    }

    .navbar-kanan {
        display: none;
    }

    /* ini hero section */
    .hero .container {
        padding: 64px 20px;
    }

    /* card section */
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .course-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .course-description {
        display: none;
    }

    /* newsletter section */

    .newsletter .container {
        padding: 64px 20px;
    }

     .subscribe {
        position: relative;
        flex-direction: column;
        width: calc(100% - 20px);
     }

     .btn-subscribe button{
        position: absolute;
        top: calc(100% + 12px);
        width: calc(100% - 10px);
     }


    /* footer section */
    .footer {
        flex-direction: column;
    }
    .footer-content {
        flex-direction: column;
    }

    /* halaman login */



}

@media screen and (max-width: 425px) {
    .container {
        width: calc(100% - 20px);
    }

    .course-tabs {
        overflow-x: auto;
        white-space: nowrap;
    }

    /* hero section */
    .hero h1{
        font-size: 24px;
    }
    /* card section */
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-course {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .course-image {
        width: 82px;
        height: calc(100% - 12px);
    }
    .course-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .course-description {
        display: none;
    }

    /* footer section */
    .footer  {
        padding: 40px 16px;
        box-sizing: border-box;
    }

    .footer-kiri {
        width: 100%;
        & h4 {
            font-size: 14px;
        } 

        & p {
            font-size: 14px;
        }
    }

    .footer-content {
        flex-direction: column;
        gap: 24px;
    }


    .footer-kanan {
 flex-direction: column;
        gap: 24px;
    }

    .copyright {
        padding: 5px;
        border-top: 1px solid #3A35411F;
        width: 100%;
        flex-direction: column;
    }
    
    
}